body{
    background-color: #f0f0f0;
}

.checkout-title {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}

.burger-king-title {
    margin-left: 20px;
    font-weight: bold;
    white-space: nowrap;
}

#logo-row {
    position: relative;
    margin-top: 25px;
}

#logo {
    width: 225px;
    height: auto;
    position: absolute;
    left: -150px;
}

.left-div,
.right-div {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.left-div {
    margin-right: -100px;
    margin-left: 150px;
}

.right-div {
    margin-left: -100px;
    margin-right: 150px;
}

.linha {
    border-top: 3px solid #c7c7c7;
}

#btnMorada {
    background-color: #f0f0f0;
    border: #f0f0f0;
    border-radius: 10px;
    padding: 7px 17px;
    color: black;
}

#btnMorada:hover {
    background-color: black;
    border: black;
    border-radius: 10px;
    padding: 7px 17px;
    color: white;
    transition: 0.3s;
}