hr {
    width: 100%;
    text-align: left;
    margin-left: 0;
    color: grey;
}

p {
    text-align: justify;
}

.esquerdo {
    flex: 25%;
}

.direito {
    flex: 75%;
}

.form_editar {
    width: 75%;
    padding: 5px;
    position: relative;
    left: 20vw;
}

.cinzento {
    color: grey;
}

.texto_pedido {
    color: gray;
    font-size: 14px;
}

.texto_pedido_negrito {
    font-weight: bold;
    font-size: 14px;
}

.perfil {
    width: 75%;
    padding: 5px;
}

.dashboard {
    width: 100%;
    padding: 5px;
}

.pedidos {
    padding-top: 10px;
    width: 100%;
}