hr {
    width: 100%;
    text-align: left;
    margin-left: 0;
    color: grey;
}

p {
    text-align: justify;
}

.esquerdo {
    flex: 75%;
}

.direito {
    flex: 75%;
}

.form_editar {
    width: 75%;
    padding: 5px;
    position: relative;
    left: 20vw;
}

.cinzento {
    color: grey;
}

.texto_pedido {
    color: gray;
    font-size: 14px;
}

.texto_pedido_negrito {
    font-weight: bold;
    font-size: 14px;
}

/* por em footer_2.php, para obrigar a ir para baixo*/
.footer2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #ccc;
}